/* CSS Reset */
*{
    padding: 0px;
    margin: 0px;
}
.container{
    display: grid;
    /* grid-template-columns: 2fr 2fr 2fr; */
    grid-template-columns: repeat(10, auto);
}
.item{
    /* height: 100px;
    width: 100px; */
    background-color: aqua;
    margin: 3px;
}