/* Navigation Section */
#navbar{
    flex-direction: column;
    margin-bottom: -74px;
}
#navbar ul li a{
    font-size: 1.2rem;
    padding: 17px 13px;
}
/* Home Section */
#home{
    min-height: 280px;
    padding: 3px 113px;
}
#home::before{
    min-height: 400px;
}
#home h1{
    font-size: 1.8rem;
    width: 337px;
}
.heading-p{
    font-size: 1.5rem;
    padding: 0px;
    margin-top: 97px;
}
#home p{
    font-size: 1.4rem;
    margin: 0px -66px;
    padding: 2px 13px 13px;
    width: 231px;
}
/* Utility Classes */
.btn{
    padding: 10px;
    margin: 1px 0px 105px;
    font-size: 1rem;
    border: 2px solid black;
}
/* Services Section */
#services{
    flex-direction: column;
    padding: 0px 70px;
}
#services p{
    margin: auto;
    max-width: 58%;
}
.servicesheading-p{
    font-size: 35px;
    margin-top: 17px;
    margin-bottom: 3px;
}
#services .box{
    padding: 20px 22px;
    margin: 2px -70px;
    width: 140%;
}
/* Clients Section */
#clients{
    flex-wrap: wrap;
}
.clientlogo{
    padding: 0px;
}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
#clientheading{
    margin-top: 36px;
}
/* Contact Us Section */
#contact{
    margin-bottom: 70px;
}
#contact::before{
    margin-top: 0px;
    height: 46%;
}
#contactbox label{
    font-size: 1rem;
}
/* Footer Section */
footer{
    font-size: 15px;
}
